
:root {
  --color-principal: #0F245E; 
}

body {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* estilo del link */
a {
    text-decoration: none;
    color: inherit;
}